{
  "openapi": "3.0.0",
  "info": {
    "title": "Drata API",
    "description": "### What's New in V2\n- Support for Custom Fields\n- Get and acknowledge user's assigned policies\n- Payloads are streamlined to include only the essential information. You can expand related objects and collections using the `expand` query parameter.\n- Cursor-based pagination for greater efficiency and stability with large datasets\n\n### Getting Started\nPlease visit our help article to learn how to [create an API key](https://help.drata.com/en/articles/6695964).\n\n### Upgrading From Version 1\nAPI V2 is designed to provide a faster an more flexible way of accessing Drata. There are several differences from V1:\n- The listing endpoints now use **cursor-based pagination**. This provides faster responses and ensures that all records can be retrieved even, if they are changed during the process.\n\n```javascript\nasync function fetchAll() {\n  // The first request doesn't send a value for the cursor.\n  let cursor = undefined;\n  do {\n    const query = new URLSearchParams({ cursor });\n    const resp = await fetch(\n      `https://public-api.drata.com/public/v2/users?${query}`,\n      {\n        method: 'GET',\n        headers: { Authorization: 'Bearer <YOUR_API_KEY_HERE>' }\n      }\n    );\n    const data = await resp.json();\n    console.log(data);\n\n    // If there's a cursor value returned, then there are more results.\n    // Pass that back as a query parameter to get the next page of data.\n    cursor = data?.pagination?.cursor;\n  } while (cursor)\n}\nfetchAll();\n```\n- You'll notice smaller responses. Most endpoints accept an `expand` query parameter that let's you specify which related objects and collections you want to expand.\n",
    "version": "V2",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://public-api.drata.com/public/v2"
    },
    {
      "url": "https://public-api.eu.drata.com/public/v2"
    },
    {
      "url": "https://public-api.apac.drata.com/public/v2"
    }
  ],
  "tags": [
    {
      "name": "Assets",
      "description": "Assets let you build an inventory of policies, personnel and computer infrastructure. The [help docs](https://help.drata.com/en/collections/10485424) have more information."
    },
    {
      "name": "Audits",
      "description": "Audits represent compliance assessments for a specific framework and time period. Audit Requests are evidence requests associated with an audit."
    },
    {
      "name": "Background Checks",
      "description": "Background checks verify a person’s identity, history, and qualifications to ensure they meet legal, regulatory, or policy standards. The [help docs](https://help.drata.com/en/articles/5833999-background-check-management) have more information."
    },
    {
      "name": "Company",
      "description": "The Company tracks essential information about your organization. The [help docs](https://help.drata.com/en/articles/8283910) have more information on the purpose of each field."
    },
    {
      "name": "Control Library",
      "description": "The Control Library is a catalog of pre-built Control Templates that can be provisioned into a Workspace. Each item carries default mappings to Tests, Policies, Evidence, and Framework Requirements."
    },
    {
      "name": "Control Notes",
      "description": "Control Notes allow you to provide additional information about Controls."
    },
    {
      "name": "Control Owners",
      "description": "Control Owners are the Users responsible for Controls. They ensure the right evidence is associated, that any automated tests are passing, and help prepare for an audit."
    },
    {
      "name": "Controls",
      "description": "Controls are a strategic measure or safeguard that an organization puts in place to protect its assets and meet the requirements of specific compliance frameworks."
    },
    {
      "name": "Custom Connections",
      "description": "Custom Connections allow users to integrate external systems with Drata. CUSTOM connections push arbitrary JSON evidence records using a user-defined schema. MDM and HRIS connections use a fixed common model for device management and HR identity data respectively. The [help docs for custom connections and tests](https://help.drata.com/en/articles/11995676-part-1-custom-connections-and-tests) and [custom device connections](https://help.drata.com/en/articles/12014143-custom-device-connections) have more information."
    },
    {
      "name": "Custom Data Records",
      "description": "Custom Data Records are JSON evidence records pushed to a Custom Connection resource. Use the session management endpoints to batch upload records and track the status of bulk operations. You can create monitors on this data to provide continuous compliance. The [help docs](https://help.drata.com/en/articles/11995676-part-1-custom-connections-and-tests) have more information."
    },
    {
      "name": "Device Documents",
      "description": "Device Documents allow you to provide manual evidence of Devices compliance. Using the Drata Agent or an MDM connection automatically provides this information."
    },
    {
      "name": "Devices",
      "description": "Devices are computers used by personnel. The data is provided by the Drata Agent or an MDM connection."
    },
    {
      "name": "Events",
      "description": "Events record the activity of User and automated processes in the Drata platform."
    },
    {
      "name": "Evidence Library",
      "description": "Drata's Evidence Library serves as a repository for all the evidence you need to collect across your controls. The [help docs](https://help.drata.com/en/articles/8288579-evidence-library-overview) have more information."
    },
    {
      "name": "Frameworks",
      "description": "Frameworks are collections of controls that are used to assess compliance with specific standards or regulations. The [help docs](https://help.drata.com/en/articles/5329593-frameworks) have more information."
    },
    {
      "name": "HRIS User Identities",
      "description": "HR user identity records for a Custom HRIS connection. Use the batch upsert endpoint to submit employee records keyed by your own `identityId`, then use the update endpoint to reflect employment changes (e.g. set `separatedAt` when an employee leaves). Deleting a record is intended for data submitted in error, not for offboarding. Changes are not applied immediately — they are incorporated the next time identity sync runs, which happens nightly by default. A sync can also be triggered manually from the Personnel page."
    },
    {
      "name": "Monitoring Tests",
      "description": "Monitoring Tests are compliance tests used to determine whether a person, system, process, or organization is adhering to standards set by compliance controls within a framework. The [help docs](https://help.drata.com/en/articles/4790546-monitoring) have more information."
    },
    {
      "name": "Personnel",
      "description": "Personnel are people who work for your organization. The [help docs](https://help.drata.com/en/collections/2653981) have more information."
    },
    {
      "name": "Policies",
      "description": "A policy is a document that outlines an organization’s commitment to following standards relevant to its operations. The [help docs](https://help.drata.com/en/articles/9202419-policy-center-overview) have more information."
    },
    {
      "name": "Risk Documents",
      "description": "Risk Documents are supporting documents, evidence, or other materials that are associated with a risk."
    },
    {
      "name": "Risk Library",
      "description": "The Risk Library is a collection of Risks that can be copied into a Risk Register. The [help docs](https://help.drata.com/en/articles/13371089-drata-s-risk-library-new-experience) have more information."
    },
    {
      "name": "Risk Notes",
      "description": "Risk Notes allow you to provide additional information about Risks."
    },
    {
      "name": "Risk Registers",
      "description": "Risk Registers are a collection of Risks. They are used to organize and manage Risks."
    },
    {
      "name": "Risks",
      "description": "Risks are potential events that could impact the security, reputation, and financial health of a company."
    },
    {
      "name": "Tasks",
      "description": "Tasks are individual units of work that can be assigned to users."
    },
    {
      "name": "User Documents",
      "description": "User Documents allow you to provide manual evidence of User and Personnel compliance."
    },
    {
      "name": "User's Assigned Policies",
      "description": "User's Assigned Policies track the acknowledgement of Policy Versions by Users."
    },
    {
      "name": "Users and Roles",
      "description": "**Users** are are people with access to the Drata platform.  \n**Roles** grant permissions to Users. The [help docs](https://help.drata.com/en/collections/5993507) have more information on the default Roles."
    },
    {
      "name": "Vendor Documents",
      "description": "Vendor Documents provide compliance-related documentation, such as bridge letters, questionnaires, and SOC reports."
    },
    {
      "name": "Vendor Security Reviews",
      "description": "Vendor Security Reviews track the status of security reviews for Vendors. You can create a security review, upload questionnaires, and track the progress of the review. The [help docs](https://help.drata.com/en/articles/9676307-start-and-manage-security-reviews-for-your-vendors) have more information."
    },
    {
      "name": "Vendor Types",
      "description": "Vendor Types are user-defined classifications used to categorize and organize vendors."
    },
    {
      "name": "Vendors",
      "description": "Vendors are third-parties that your organization is working with. Drata allows you to track and review risks associated with these third-parties. The [help docs](https://help.drata.com/en/articles/9676307-start-and-manage-security-reviews-for-your-vendors) have more information."
    },
    {
      "name": "Workspaces",
      "description": "Workspaces allow you to represent different products or business lines that have different compliance requirements. Each Workspace can have its own Frameworks and Controls. The [help docs](https://help.drata.com/en/articles/6598264) have more information on how create and manage Workspaces."
    }
  ],
  "paths": {
    "/custom-connections": {
      "get": {
        "description": "Find Custom Connections matching the provided filters.\n\n🔒 Requires **Custom Connections Management: List Custom Connections** permission.\n\n💎 Requires your account have the **Custom Connections and Tests** feature. Contact your CSM for help upgrading.",
        "operationId": "CustomConnectionsPublicV2Controller_listCustomConnections",
        "parameters": [
          {
            "name": "cursor",
            "required": false,
            "in": "query",
            "description": "This parameter is used to paginate through results. No value is needed for the first request. If there are additional results, the response will contain a `pagination.cursor` value that can be used in the subsequent request to retrieve the next page of results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "required": false,
            "in": "query",
            "description": "Number of results to return",
            "schema": {
              "minimum": 1,
              "maximum": 500,
              "default": 50,
              "type": "number"
            }
          },
          {
            "name": "sort",
            "required": false,
            "in": "query",
            "description": "Which field to sort by",
            "schema": {
              "$ref": "#/components/schemas/SortTypeLimitedEnum"
            }
          },
          {
            "name": "sortDir",
            "required": false,
            "in": "query",
            "description": "The direction to sort the data",
            "schema": {
              "$ref": "#/components/schemas/SortDirectionEnum"
            }
          },
          {
            "name": "includeTotalCount",
            "required": false,
            "in": "query",
            "description": "Include total count of all matching records in response. Only honored on first page (when cursor is null).",
            "schema": {
              "default": false,
              "example": false,
              "type": "boolean"
            }
          },
          {
            "name": "expand[]",
            "required": false,
            "in": "query",
            "description": "List of subcollections and sub-objects to expand",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CustomConnectionExpandEnum"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomConnectionsResponsePublicV2Dto"
                }
              }
            }
          },
          "400": {
            "description": "Malformed data and/or validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicV2Dto"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "402": {
            "description": "You must upgrade your plan to use this feature",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "You are not allowed to perform this action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "412": {
            "description": "You must accept the Drata terms and conditions to use the API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "List Custom Connections",
        "tags": [
          "Custom Connections"
        ],
        "x-drata-entitlement": [
          "CUSTOM_CONNECTIONS_AND_TESTS"
        ],
        "x-drata-permissions": [
          "custom-connections-get"
        ],
        "x-product-area": [
          "CUSTOM_CONNECTIONS"
        ]
      },
      "post": {
        "description": "Create a new Custom Connection. Supported provider types: CUSTOM, MDM, HRIS. CUSTOM connections require `schema` or `sampleData` and `displayNameKey`. MDM and HRIS connections use a fixed common model — `schema`, `sampleData`, and `displayNameKey` must not be provided.\n\n🔒 Requires **Custom Connections Management: Create Custom Connection** permission.\n\n💎 Requires your account have the **Custom Connections and Tests** feature. Contact your CSM for help upgrading.",
        "operationId": "CustomConnectionsPublicV2Controller_createCustomConnection",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomConnectionCreateRequestPublicV2Dto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomConnectionResponsePublicV2Dto"
                }
              }
            }
          },
          "400": {
            "description": "Malformed data and/or validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicV2Dto"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "402": {
            "description": "You must upgrade your plan to use this feature",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "You are not allowed to perform this action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "412": {
            "description": "You must accept the Drata terms and conditions to use the API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Create Custom Connection",
        "tags": [
          "Custom Connections"
        ],
        "x-drata-entitlement": [
          "CUSTOM_CONNECTIONS_AND_TESTS"
        ],
        "x-drata-permissions": [
          "custom-connections-post"
        ],
        "x-product-area": [
          "CUSTOM_CONNECTIONS"
        ]
      }
    },
    "/custom-connections/{connectionId}": {
      "get": {
        "operationId": "CustomConnectionsPublicV2Controller_getCustomConnection",
        "parameters": [
          {
            "name": "connectionId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "expand[]",
            "required": false,
            "in": "query",
            "description": "List of sub-collections and sub-objects to expand",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CustomConnectionExpandEnum"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomConnectionResponsePublicV2Dto"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "402": {
            "description": "You must upgrade your plan to use this feature",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "You are not allowed to perform this action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicV2Dto"
                }
              }
            }
          },
          "412": {
            "description": "You must accept the Drata terms and conditions to use the API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Get Custom Connection",
        "tags": [
          "Custom Connections"
        ],
        "x-drata-entitlement": [
          "CUSTOM_CONNECTIONS_AND_TESTS"
        ],
        "x-drata-permissions": [
          "custom-connections-get"
        ],
        "x-product-area": [
          "CUSTOM_CONNECTIONS"
        ],
        "description": "🔒 Requires **Custom Connections Management: List Custom Connections** permission.\n\n💎 Requires your account have the **Custom Connections and Tests** feature. Contact your CSM for help upgrading."
      },
      "put": {
        "description": "Update Custom Connection details\n\n🔒 Requires **Custom Connections Management: Update Custom Connection** permission.\n\n💎 Requires your account have the **Custom Connections and Tests** feature. Contact your CSM for help upgrading.",
        "operationId": "CustomConnectionsPublicV2Controller_updateCustomConnection",
        "parameters": [
          {
            "name": "connectionId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomConnectionUpdateRequestPublicV2Dto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomConnectionResponsePublicV2Dto"
                }
              }
            }
          },
          "400": {
            "description": "Malformed data and/or validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicV2Dto"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "402": {
            "description": "You must upgrade your plan to use this feature",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "You are not allowed to perform this action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicV2Dto"
                }
              }
            }
          },
          "412": {
            "description": "You must accept the Drata terms and conditions to use the API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Update Custom Connection",
        "tags": [
          "Custom Connections"
        ],
        "x-drata-entitlement": [
          "CUSTOM_CONNECTIONS_AND_TESTS"
        ],
        "x-drata-permissions": [
          "custom-connections-put"
        ],
        "x-product-area": [
          "CUSTOM_CONNECTIONS"
        ]
      },
      "delete": {
        "operationId": "CustomConnectionsPublicV2Controller_deleteCustomConnection",
        "parameters": [
          {
            "name": "connectionId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Invalid Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "402": {
            "description": "You must upgrade your plan to use this feature",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "You are not allowed to perform this action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "412": {
            "description": "You must accept the Drata terms and conditions to use the API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Delete Custom Connection",
        "tags": [
          "Custom Connections"
        ],
        "x-drata-entitlement": [
          "CUSTOM_CONNECTIONS_AND_TESTS"
        ],
        "x-drata-permissions": [
          "custom-connections-delete"
        ],
        "x-product-area": [
          "CUSTOM_CONNECTIONS"
        ],
        "description": "🔒 Requires **Custom Connections Management: Delete Custom Connection** permission.\n\n💎 Requires your account have the **Custom Connections and Tests** feature. Contact your CSM for help upgrading."
      }
    },
    "/workspaces/{workspaceId}/audits/{auditId}/requests": {
      "get": {
        "operationId": "AuditRequestsPublicV2Controller_listAuditRequests",
        "parameters": [
          {
            "name": "cursor",
            "required": false,
            "in": "query",
            "description": "This parameter is used to paginate through results. No value is needed for the first request. If there are additional results, the response will contain a `pagination.cursor` value that can be used in the subsequent request to retrieve the next page of results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "required": false,
            "in": "query",
            "description": "Number of results to return",
            "schema": {
              "minimum": 1,
              "maximum": 500,
              "default": 50,
              "type": "number"
            }
          },
          {
            "name": "sort",
            "required": false,
            "in": "query",
            "description": "Which field to sort by",
            "schema": {
              "$ref": "#/components/schemas/SortTypeLimitedEnum"
            }
          },
          {
            "name": "sortDir",
            "required": false,
            "in": "query",
            "description": "The direction to sort the data",
            "schema": {
              "$ref": "#/components/schemas/SortDirectionEnum"
            }
          },
          {
            "name": "status[]",
            "required": false,
            "in": "query",
            "description": "Filter by audit request status",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CustomerRequestStatus"
              }
            }
          },
          {
            "name": "userIds[]",
            "required": false,
            "in": "query",
            "description": "Filter by IDs of users assigned as owners of the audit request",
            "schema": {
              "example": [
                1,
                2,
                3
              ],
              "type": "array",
              "items": {
                "type": "number"
              }
            }
          },
          {
            "name": "expand[]",
            "required": false,
            "in": "query",
            "description": "List of subcollections and sub-objects to expand",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/AuditRequestListExpandEnum"
              }
            }
          },
          {
            "name": "workspaceId",
            "required": true,
            "in": "path",
            "description": "The Workspace ID associated to the Account",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "auditId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditRequestsResponsePublicV2Dto"
                }
              }
            }
          },
          "400": {
            "description": "Malformed data and/or validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicV2Dto"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "You are not allowed to perform this action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicV2Dto"
                }
              }
            }
          },
          "412": {
            "description": "You must accept the Drata terms and conditions to use the API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "List Audit Requests",
        "tags": [
          "Audit Requests"
        ],
        "x-drata-permissions": [
          "customer-request-get-requests"
        ],
        "x-product-area": [
          "AUDIT_HUB"
        ],
        "description": "🔒 Requires **Customer Request: Get Customer Request** permission."
      }
    },
    "/workspaces/{workspaceId}/audits/{auditId}/requests/{requestId}": {
      "get": {
        "operationId": "AuditRequestsPublicV2Controller_getAuditRequest",
        "parameters": [
          {
            "name": "expand[]",
            "required": false,
            "in": "query",
            "description": "List of subcollections and sub-objects to expand",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/AuditRequestExpandEnum"
              }
            }
          },
          {
            "name": "workspaceId",
            "required": true,
            "in": "path",
            "description": "The Workspace ID associated to the Account",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "auditId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditRequestGetResponsePublicV2Dto"
                }
              }
            }
          },
          "400": {
            "description": "Malformed data and/or validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicV2Dto"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "You are not allowed to perform this action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicV2Dto"
                }
              }
            }
          },
          "412": {
            "description": "You must accept the Drata terms and conditions to use the API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Get Audit Request",
        "tags": [
          "Audit Requests"
        ],
        "x-drata-permissions": [
          "customer-request-get-requests"
        ],
        "x-product-area": [
          "AUDIT_HUB"
        ],
        "description": "🔒 Requires **Customer Request: Get Customer Request** permission."
      }
    },
    "/workspaces/{workspaceId}/audits": {
      "get": {
        "operationId": "AuditsPublicV2Controller_listAudits",
        "parameters": [
          {
            "name": "cursor",
            "required": false,
            "in": "query",
            "description": "This parameter is used to paginate through results. No value is needed for the first request. If there are additional results, the response will contain a `pagination.cursor` value that can be used in the subsequent request to retrieve the next page of results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "required": false,
            "in": "query",
            "description": "Number of results to return",
            "schema": {
              "minimum": 1,
              "maximum": 500,
              "default": 50,
              "type": "number"
            }
          },
          {
            "name": "sort",
            "required": false,
            "in": "query",
            "description": "Which field to sort by",
            "schema": {
              "$ref": "#/components/schemas/SortTypeLimitedEnum"
            }
          },
          {
            "name": "sortDir",
            "required": false,
            "in": "query",
            "description": "The direction to sort the data",
            "schema": {
              "$ref": "#/components/schemas/SortDirectionEnum"
            }
          },
          {
            "name": "expand[]",
            "required": false,
            "in": "query",
            "description": "List of subcollections and sub-objects to expand",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/AuditListExpandEnum"
              }
            }
          },
          {
            "name": "workspaceId",
            "required": true,
            "in": "path",
            "description": "The Workspace ID associated to the Account",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditsResponsePublicV2Dto"
                }
              }
            }
          },
          "400": {
            "description": "Malformed data and/or validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicV2Dto"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "You are not allowed to perform this action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicV2Dto"
                }
              }
            }
          },
          "412": {
            "description": "You must accept the Drata terms and conditions to use the API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "List Audits",
        "tags": [
          "Audits"
        ],
        "x-drata-permissions": [
          "audit-get"
        ],
        "x-product-area": [
          "AUDIT_HUB"
        ],
        "description": "🔒 Requires **Audits: Get Audits** permission."
      }
    },
    "/workspaces/{workspaceId}/audits/{auditId}": {
      "get": {
        "operationId": "AuditsPublicV2Controller_getAudit",
        "parameters": [
          {
            "name": "expand[]",
            "required": false,
            "in": "query",
            "description": "List of subcollections and sub-objects to expand",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/AuditExpandEnum"
              }
            }
          },
          {
            "name": "workspaceId",
            "required": true,
            "in": "path",
            "description": "The Workspace ID associated to the Account",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "auditId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditGetResponsePublicV2Dto"
                }
              }
            }
          },
          "400": {
            "description": "Malformed data and/or validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicV2Dto"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "You are not allowed to perform this action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicV2Dto"
                }
              }
            }
          },
          "412": {
            "description": "You must accept the Drata terms and conditions to use the API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Get Audit",
        "tags": [
          "Audits"
        ],
        "x-drata-permissions": [
          "audit-get"
        ],
        "x-product-area": [
          "AUDIT_HUB"
        ],
        "description": "🔒 Requires **Audits: Get Audits** permission."
      }
    },
    "/assets": {
      "get": {
        "description": "Find Assets by search terms and filters.\n\n🔒 Requires **Assets: List Assets** permission.",
        "operationId": "AssetsPublicV2Controller_listAssets",
        "parameters": [
          {
            "name": "cursor",
            "required": false,
            "in": "query",
            "description": "This parameter is used to paginate through results. No value is needed for the first request. If there are additional results, the response will contain a `pagination.cursor` value that can be used in the subsequent request to retrieve the next page of results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "required": false,
            "in": "query",
            "description": "Number of results to return",
            "schema": {
              "minimum": 1,
              "maximum": 500,
              "default": 50,
              "type": "number"
            }
          },
          {
            "name": "sort",
            "required": false,
            "in": "query",
            "description": "Which field to sort by",
            "schema": {
              "$ref": "#/components/schemas/SortTypeLimitedEnum"
            }
          },
          {
            "name": "sortDir",
            "required": false,
            "in": "query",
            "description": "The direction to sort the data",
            "schema": {
              "$ref": "#/components/schemas/SortDirectionEnum"
            }
          },
          {
            "name": "includeTotalCount",
            "required": false,
            "in": "query",
            "description": "Include total count of all matching records in response. Only honored on first page (when cursor is null).",
            "schema": {
              "default": false,
              "example": false,
              "type": "boolean"
            }
          },
          {
            "name": "expand[]",
            "required": false,
            "in": "query",
            "description": "List of subcollections and sub-objects to expand",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/AssetExpandEnum"
              }
            }
          },
          {
            "name": "assetClassType",
            "required": false,
            "in": "query",
            "description": "Filter assets by class type. This filter is only supported in conjunction with expand[]=assetClassTypes.",
            "schema": {
              "$ref": "#/components/schemas/AssetClassTypeEnum"
            }
          },
          {
            "name": "assetType",
            "required": false,
            "in": "query",
            "description": "Filter assets by type",
            "schema": {
              "$ref": "#/components/schemas/AssetTypeEnum"
            }
          },
          {
            "name": "assetProvider",
            "required": false,
            "in": "query",
            "description": "Filter assets by provider",
            "schema": {
              "$ref": "#/components/schemas/AssetProviderEnum"
            }
          },
          {
            "name": "userId",
            "required": false,
            "in": "query",
            "description": "Filter data by user ID associated to the Assets",
            "schema": {
              "maximum": 1000000000,
              "example": 1,
              "type": "number"
            }
          },
          {
            "name": "employmentStatus",
            "required": false,
            "in": "query",
            "description": "Filter data by personnel of this employment status",
            "schema": {
              "$ref": "#/components/schemas/EmploymentStatusEnum"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetsResponsePublicV2Dto"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "You are not allowed to perform this action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "412": {
            "description": "You must accept the Drata terms and conditions to use the API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "List Assets",
        "tags": [
          "Assets"
        ],
        "x-drata-permissions": [
          "assets-get"
        ],
        "x-product-area": [
          "ASSETS_PAGE"
        ]
      },
      "post": {
        "description": "Manually add a new Asset to the Account.\n\n🔒 Requires **Assets: Create Asset** permission.",
        "operationId": "AssetsPublicV2Controller_createAsset",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetCreateRequestPublicV2Dto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetResponsePublicV2Dto"
                }
              }
            }
          },
          "400": {
            "description": "Malformed data and/or validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicV2Dto"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "You are not allowed to perform this action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicV2Dto"
                }
              }
            }
          },
          "412": {
            "description": "You must accept the Drata terms and conditions to use the API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicV2Dto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Create Asset",
        "tags": [
          "Assets"
        ],
        "x-drata-permissions": [
          "assets-post"
        ],
        "x-product-area": [
          "ASSETS_PAGE"
        ]
      }
    },
    "/assets/{assetId}": {
      "get": {
        "operationId": "AssetsPublicV2Controller_getAsset",
        "parameters": [
          {
            "name": "assetId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "expand[]",
            "required": false,
            "in": "query",
            "description": "List of subcollections and sub-objects to expand",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/AssetExpandEnum"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetResponsePublicV2Dto"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "You are not allowed to perform this action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "412": {
            "description": "You must accept the Drata terms and conditions to use the API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Get Asset",
        "tags": [
          "Assets"
        ],
        "x-drata-permissions": [
          "assets-get"
        ],
        "x-product-area": [
          "ASSETS_PAGE"
        ],
        "description": "🔒 Requires **Assets: List Assets** permission."
      },
      "put": {
        "description": "Update Asset\n\n🔒 Requires **Assets: Update Asset** permission.",
        "operationId": "AssetsPublicV2Controller_updateAsset",
        "parameters": [
          {
            "name": "assetId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetModifyRequestPublicV2Dto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetResponsePublicV2Dto"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Malformed data and/or validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicV2Dto"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "You are not allowed to perform this action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicV2Dto"
                }
              }
            }
          },
          "412": {
            "description": "You must accept the Drata terms and conditions to use the API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Update Asset",
        "tags": [
          "Assets"
        ],
        "x-drata-permissions": [
          "assets-put"
        ],
        "x-product-area": [
          "ASSETS_PAGE"
        ]
      },
      "delete": {
        "description": "Remove a virtual or manually-added Asset. This is an unrecoverable operation.\n\n🔒 Requires **Assets: Delete Asset** permission.",
        "operationId": "AssetsPublicV2Controller_deleteAsset",
        "parameters": [
          {
            "name": "assetId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Malformed data and/or validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicV2Dto"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "You are not allowed to perform this action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicV2Dto"
                }
              }
            }
          },
          "412": {
            "description": "You must accept the Drata terms and conditions to use the API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Remove Asset",
        "tags": [
          "Assets"
        ],
        "x-drata-permissions": [
          "assets-delete"
        ],
        "x-product-area": [
          "ASSETS_PAGE"
        ]
      }
    },
    "/background-checks": {
      "post": {
        "description": "Create a Background Check record and mark the user as compliant for Background Check requirements.\n\n🔒 Requires **Personnel: Create Background Check** permission.",
        "operationId": "BackgroundChecksPublicV2Controller_createBackgroundCheck",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BackgroundCheckCreateRequestPublicV2Dto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonCompactResponsePublicV2Dto"
                }
              }
            }
          },
          "400": {
            "description": "Malformed data and/or validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicV2Dto"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "You are not allowed to perform this action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicV2Dto"
                }
              }
            }
          },
          "409": {
            "description": "There is a conflict in the business rules with this request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicV2Dto"
                }
              }
            }
          },
          "412": {
            "description": "You must accept the Drata terms and conditions to use the API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Create Manual Background Check",
        "tags": [
          "Background Checks"
        ],
        "x-drata-permissions": [
          "background-check-post"
        ],
        "x-product-area": [
          "BACKGROUND_CHECK_SYNC"
        ]
      }
    },
    "/company": {
      "get": {
        "operationId": "CompaniesPublicV2Controller_getCompany",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyResponsePublicV2Dto"
                }
              }
            }
          },
          "400": {
            "description": "Malformed data and/or validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicV2Dto"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "You are not allowed to perform this action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicV2Dto"
                }
              }
            }
          },
          "412": {
            "description": "You must accept the Drata terms and conditions to use the API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Get Company",
        "tags": [
          "Company"
        ],
        "x-drata-permissions": [
          "company-settings-get-info"
        ],
        "x-product-area": [
          "COMPANY_INFO"
        ],
        "description": "🔒 Requires **Company Settings: Get Company Settings** permission."
      }
    },
    "/control-library": {
      "get": {
        "description": "Returns a paginated list of Control Templates with optional field and relational filters.\n\n🔒 Requires **Controls: List Controls** permission.\n\n💎 Requires your account have the **Custom Frameworks** feature. Contact your CSM for help upgrading.",
        "operationId": "ControlLibraryPublicV2Controller_listControlLibrary",
        "parameters": [
          {
            "name": "cursor",
            "required": false,
            "in": "query",
            "description": "This parameter is used to paginate through results. No value is needed for the first request. If there are additional results, the response will contain a `pagination.cursor` value that can be used in the subsequent request to retrieve the next page of results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "required": false,
            "in": "query",
            "description": "Number of results to return",
            "schema": {
              "minimum": 1,
              "maximum": 500,
              "default": 50,
              "type": "number"
            }
          },
          {
            "name": "sort",
            "required": false,
            "in": "query",
            "description": "Field to sort by.",
            "schema": {
              "$ref": "#/components/schemas/ControlLibrarySortEnum"
            }
          },
          {
            "name": "sortDir",
            "required": false,
            "in": "query",
            "description": "The direction to sort the data",
            "schema": {
              "$ref": "#/components/schemas/SortDirectionEnum"
            }
          },
          {
            "name": "includeTotalCount",
            "required": false,
            "in": "query",
            "description": "Include total count of all matching records in response. Only honored on first page (when cursor is null).",
            "schema": {
              "default": false,
              "example": false,
              "type": "boolean"
            }
          },
          {
            "name": "search",
            "required": false,
            "in": "query",
            "description": "Prefix search across Control name AND code. Matches Controls where either the name OR the code starts with the provided value.",
            "schema": {
              "example": "DCF-",
              "type": "string"
            }
          },
          {
            "name": "codes[]",
            "required": false,
            "in": "query",
            "description": "Filter by **exact** Control codes (not prefix). Returns only Controls whose code matches one of the provided values. Use `search` for prefix matching.",
            "schema": {
              "example": [
                "DCF-1",
                "DCF-42"
              ],
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "ids[]",
            "required": false,
            "in": "query",
            "description": "Filter by Control Template IDs. Returns only Controls whose ID matches one of the provided values.",
            "schema": {
              "example": [
                1,
                2,
                3
              ],
              "type": "array",
              "items": {
                "type": "number"
              }
            }
          },
          {
            "name": "excludeIds[]",
            "required": false,
            "in": "query",
            "description": "Exclude Control Templates with these IDs from the response.",
            "schema": {
              "example": [
                99
              ],
              "type": "array",
              "items": {
                "type": "number"
              }
            }
          },
          {
            "name": "domain",
            "required": false,
            "in": "query",
            "description": "Filter by Control Domain. Accepts the Domain name (e.g. `DATA_AND_PRIVACY`).",
            "schema": {
              "$ref": "#/components/schemas/ControlDomainEnum"
            }
          },
          {
            "name": "category",
            "required": false,
            "in": "query",
            "description": "Filter by Control Category. Accepts the Category name (e.g. `ACCESS_CONTROL`).",
            "schema": {
              "$ref": "#/components/schemas/ControlCategoryEnum"
            }
          },
          {
            "name": "frameworkTag",
            "required": false,
            "in": "query",
            "description": "Filter by Framework. Accepts the Framework Tag name (e.g. `SOC_2`, `ISO27001`, `HIPAA`). Returns Controls mapped to a Requirement on the given Framework.",
            "schema": {
              "$ref": "#/components/schemas/FrameworkTagEnum"
            }
          },
          {
            "name": "hasTests",
            "required": false,
            "in": "query",
            "description": "When true, returns only Controls with at least one default Test mapping.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "hasPolicies",
            "required": false,
            "in": "query",
            "description": "When true, returns only Controls with at least one default Policy mapping.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "hasEvidence",
            "required": false,
            "in": "query",
            "description": "When true, returns only Controls with at least one default Evidence mapping.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "hasRisks",
            "required": false,
            "in": "query",
            "description": "When true, returns only Controls mapped to at least one Risk in the Risk Library.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ControlLibraryResponsePublicV2Dto"
                }
              }
            }
          },
          "400": {
            "description": "Malformed data and/or validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicV2Dto"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "402": {
            "description": "You must upgrade your plan to use this feature",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "You are not allowed to perform this action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "412": {
            "description": "You must accept the Drata terms and conditions to use the API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "List Control Library",
        "tags": [
          "Control Library"
        ],
        "x-drata-entitlement": [
          "CUSTOM_FRAMEWORKS"
        ],
        "x-drata-permissions": [
          "controls-get"
        ],
        "x-product-area": [
          "CONTROL_LIBRARY"
        ]
      }
    },
    "/control-library/{templateId}": {
      "get": {
        "description": "Returns a single Control Template by id with optional expand-gated relations.\n\n🔒 Requires **Controls: List Controls** permission.\n\n💎 Requires your account have the **Custom Frameworks** feature. Contact your CSM for help upgrading.",
        "operationId": "ControlLibraryPublicV2Controller_getControlLibraryItem",
        "parameters": [
          {
            "name": "templateId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "expand[]",
            "required": false,
            "in": "query",
            "description": "List of subcollections and sub-objects to expand.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ControlLibraryDetailExpandEnum"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ControlLibraryDetailResponsePublicV2Dto"
                }
              }
            }
          },
          "400": {
            "description": "Malformed data and/or validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicV2Dto"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "402": {
            "description": "You must upgrade your plan to use this feature",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "You are not allowed to perform this action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicV2Dto"
                }
              }
            }
          },
          "412": {
            "description": "You must accept the Drata terms and conditions to use the API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Get Control Library Item",
        "tags": [
          "Control Library"
        ],
        "x-drata-entitlement": [
          "CUSTOM_FRAMEWORKS"
        ],
        "x-drata-permissions": [
          "controls-get"
        ],
        "x-product-area": [
          "CONTROL_LIBRARY"
        ]
      }
    },
    "/control-library/action-import": {
      "post": {
        "description": "Provisions one or more tenant Controls from Control Library templates. All-or-nothing semantics: any invalid spec rejects the whole request with no writes. Each provisioned Control includes the template default mappings (tests, policies, evidence, requirements).\n\n🔒 Requires **Controls: Create Control** permission.\n\n💎 Requires your account have the **Custom Frameworks** feature. Contact your CSM for help upgrading.",
        "operationId": "ControlLibraryPublicV2Controller_importControlLibrary",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ControlLibraryImportRequestPublicV2Dto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ControlLibraryImportResponsePublicV2Dto"
                }
              }
            }
          },
          "400": {
            "description": "Malformed data and/or validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ControlLibraryImportErrorResponsePublicV2Dto"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "402": {
            "description": "You must upgrade your plan to use this feature",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "You are not allowed to perform this action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "412": {
            "description": "You must accept the Drata terms and conditions to use the API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Import Control Library Controls",
        "tags": [
          "Control Library"
        ],
        "x-drata-entitlement": [
          "CUSTOM_FRAMEWORKS"
        ],
        "x-drata-permissions": [
          "controls-post"
        ],
        "x-product-area": [
          "CONTROL_LIBRARY"
        ]
      }
    },
    "/workspaces/{workspaceId}/controls/{controlId}/notes": {
      "get": {
        "description": "Find Control Notes matching the provided filters.\n\n🔒 Requires **Controls: Get Control Note** permission.",
        "operationId": "ControlNotesPublicV2Controller_getControlNotes",
        "parameters": [
          {
            "name": "workspaceId",
            "required": true,
            "in": "path",
            "description": "The Workspace ID associated to the Account",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "controlId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "cursor",
            "required": false,
            "in": "query",
            "description": "This parameter is used to paginate through results. No value is needed for the first request. If there are additional results, the response will contain a `pagination.cursor` value that can be used in the subsequent request to retrieve the next page of results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "required": false,
            "in": "query",
            "description": "Number of results to return",
            "schema": {
              "minimum": 1,
              "maximum": 500,
              "default": 50,
              "type": "number"
            }
          },
          {
            "name": "sort",
            "required": false,
            "in": "query",
            "description": "Which field to sort by",
            "schema": {
              "$ref": "#/components/schemas/SortTypeLimitedEnum"
            }
          },
          {
            "name": "sortDir",
            "required": false,
            "in": "query",
            "description": "The direction to sort the data",
            "schema": {
              "$ref": "#/components/schemas/SortDirectionEnum"
            }
          },
          {
            "name": "includeTotalCount",
            "required": false,
            "in": "query",
            "description": "Include total count of all matching records in response. Only honored on first page (when cursor is null).",
            "schema": {
              "default": false,
              "example": false,
              "type": "boolean"
            }
          },
          {
            "name": "excludeIds",
            "required": false,
            "in": "query",
            "description": "Exclude Control Notes by IDs",
            "schema": {
              "example": [],
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "expand[]",
            "required": false,
            "in": "query",
            "description": "List of subcollections and sub-objects to expand",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ControlNotesExpandEnum"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ControlNotesResponsePublicV2Dto"
                }
              }
            }
          },
          "400": {
            "description": "Malformed data and/or validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicV2Dto"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "You are not allowed to perform this action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicV2Dto"
                }
              }
            }
          },
          "412": {
            "description": "You must accept the Drata terms and conditions to use the API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "List Control Notes",
        "tags": [
          "Control Notes"
        ],
        "x-drata-permissions": [
          "controls-notes-get"
        ],
        "x-product-area": [
          "REQUIREMENTS_FRAMEWORKS"
        ]
      },
      "post": {
        "description": "Create a Note for a given Control.\n\n🔒 Requires **Controls: Create Control Note** permission.",
        "operationId": "ControlNotesPublicV2Controller_createControlNote",
        "parameters": [
          {
            "name": "workspaceId",
            "required": true,
            "in": "path",
            "description": "The Workspace ID associated to the Account",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "controlId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ControlNoteCreateRequestPublicV2Dto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ControlNoteResponsePublicV2Dto"
                }
              }
            }
          },
          "400": {
            "description": "Malformed data and/or validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicV2Dto"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "You are not allowed to perform this action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicV2Dto"
                }
              }
            }
          },
          "412": {
            "description": "You must accept the Drata terms and conditions to use the API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Create Control Note",
        "tags": [
          "Control Notes"
        ],
        "x-drata-permissions": [
          "controls-notes-post"
        ],
        "x-product-area": [
          "REQUIREMENTS_FRAMEWORKS"
        ]
      }
    },
    "/workspaces/{workspaceId}/controls/{controlId}/notes/{noteId}": {
      "get": {
        "description": "Get a Note associated with a given Control.\n\n🔒 Requires **Controls: Get Control Note** permission.",
        "operationId": "ControlNotesPublicV2Controller_getControlNote",
        "parameters": [
          {
            "name": "workspaceId",
            "required": true,
            "in": "path",
            "description": "The Workspace ID associated to the Account",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "controlId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "noteId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand[]",
            "required": false,
            "in": "query",
            "description": "List of subcollections and sub-objects to expand",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ControlNotesExpandEnum"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ControlNoteResponsePublicV2Dto"
                }
              }
            }
          },
          "400": {
            "description": "Malformed data and/or validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicV2Dto"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "You are not allowed to perform this action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicV2Dto"
                }
              }
            }
          },
          "412": {
            "description": "You must accept the Drata terms and conditions to use the API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Get Control Note",
        "tags": [
          "Control Notes"
        ],
        "x-drata-permissions": [
          "controls-notes-get"
        ],
        "x-product-area": [
          "REQUIREMENTS_FRAMEWORKS"
        ]
      },
      "put": {
        "description": "Update a Note for a given Control.\n\n🔒 Requires **Controls: Update Control Note** permission.",
        "operationId": "ControlNotesPublicV2Controller_updateNote",
        "parameters": [
          {
            "name": "workspaceId",
            "required": true,
            "in": "path",
            "description": "The Workspace ID associated to the Account",
            "schema": {
              "type": "number"
            }
          },
          {
[...]
